<!--<h1>Lista de peliculas</h1>-->
<!--<p *ngIf="true">OCULTO</p>-->
<!--&lt;!&ndash; Directivas &ndash;&gt;-->
<!--<div *ngFor="let pelicula of arregloPeliculas">-->
<!--  <app-carta-pelicula-->
<!--    [urlImagen]="pelicula.url"-->
<!--    [descripcion]="pelicula.descripcion"-->
<!--    [nombreBoton]="pelicula.nombrePelicula"-->
<!--    (eventoDioClicEnBoton)="mensajeconsola($event)"-->
<!--    (eventoDioClicEnImagen)="mensajeconsola($event)"-->
<!--  >-->
<!--  </app-carta-pelicula>-->
<!--</div>-->

<!--<button (click)="mensajeCrearUsuario()">Crear Usuario</button>-->
<!--<button (click)="habilitado = !habilitado">{{habilitado ? 'Habilitado' : 'Deshabilitado'}}</button>-->
<!--<app-carta-pelicula></app-carta-pelicula>-->

<!--<div *ngFor="let usuario of arregloUsuarios">-->
<!--  <p>{{usuario.nombre}}</p>-->
<!--</div>-->
<ul>
  <li>
    <a [routerLink]="['inicio']">
      Ir Inicio
    </a>
  </li>
  <li>
    <a [routerLink]="['login']">
      Ir Login
    </a>
  </li>
  <li>
    <a [routerLink]="['usuario']">
      Usuarios
    </a>
  </li>
</ul>
<router-outlet></router-outlet>
